

.row{
    display: flex;
    justify-content: space-between;
}

.input{
    margin: 0 0 5px 0;
    height: 27px;
    padding: 0 2px 0 2px;
}

.lname, .phone{
    margin-left: 7px;
}

#time{
    height: 30px;
}

#seat{
    width: 100%;
    padding: 10px;
}

.text-comment{
    padding-bottom: 3px;
}

#comment{
    width: 100%;
}

.submit{
    padding: 8px;
    border-radius: 10px;
    background: linear-gradient(red, white, red);
    border: none;
    text-align: center;
    margin-left: 50%;
    cursor: pointer;
}